#app {
    height: 100vh;
    text-align: center;
}

.item {
    background-color: #00000079;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    padding-top: 0.02px;
    padding-bottom: 15px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    transition: 0.3s;
    opacity: 0.9;
}

.item:hover {
    opacity: 1;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input-box .btn {
    width: 60px;
    height: 28px;
    line-height: 10px;
    border-radius: 10px;
    border: none;
    margin: 0 0 0 15px;
    padding: 0 8px;
    cursor: pointer;
    transition: 0.3s;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 8px;
    outline: none;
    height: 20px;
    width: 70%;
    line-height: 30px;
    padding: 0 5px;
    background-color: rgba(240, 240, 240, 1);
    transition: 0.3s;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.big-btn {
    font-size: 25px;
    font-family: "Roboto-Bold", -apple-system, BlinkMacSystemFont, "Arial", "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    color: white;
    background-color: #00000079;
    height: 50px;
    width: 120px;
    line-height: 10px;
    border-radius: 10px;
    border: none;
    margin: 0 0 0 15px;
    padding: 0 8px;
    cursor: pointer;
    transition: 0.3s;
}

.big-btn:hover {
    background-color: #f7f7f779;
    color: #000000;
}

#source-link {
    color: rgba(193, 255, 157);
    cursor: pointer;
    opacity: 0.534;
    transition: 0.3s;
}

#source-link:hover {
    text-decoration: underline;
    opacity: 0.7;
}

#reset {
    background-color: rgb(255, 55, 55);
    color: white;
}

#reset:hover {
    background-image: linear-gradient(to top, rgb(255, 100, 100) 0%, rgb(255, 70, 70) 100%);
    color: white;
}

#logs {
    background-color: #00000093;
    color: rgb(175, 175, 175);
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    width: 85%;
    max-width: 85%;
    transition: 0.3s;
    resize: none;
    height: 140px;
    opacity: 0.9;
}
#logs:hover {
    opacity: 1;
}