name: Package Windows Application

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@main

    - uses: actions/upload-artifact@v2
      with:
        name: Funkin-ModPackPorter
        path: dist/windows
